<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IOD</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<li><a href="#">Головна</a></li>
				<li><a href="#"></a>Про нас</li>
				<li><a href="#"></a>Проекти</li>
				<li><a href="#"></a>Партнерство</li>
				<li><a href="#"></a>Видання</li>
				<li><a href="#"></a>Контакти</li>
				<li><a href="#"></a>Події</li>
				<li><a href="#"></a>Онлайн</li>
				<li><a href="#"></a>ICYS</li>
			</nav>
		</header>
	</div>
</body>
</html>