/*Fonts*/
@import 'https://fonts.googleapis.com/css?family=Lobster';

/*Main slider*/
.swiper-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#s1{
    background: url(../img/fon/1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#s2{
    background: url(../img/fon/2.jpg);
    height: 100%;
    min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#s3{
    background: url(../img/fon/3.jpg);
    height: 100%;
    min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#s4{
    background: url(../img/fon/4.jpg);
    height: 100%;
    min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#s5{
    background: url(../img/fon/5.jpg);
    height: 100%;
    min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.socal{
    z-index: 2;
}


/*Navigation*/
.nav-custom{
  background-color: transparent;
  border: none;
}

.nav-custom .nav-link{
  color: #fff;
}

.nav-custom .nav-link:hover{
  background-color: transparent;
  border-color: transparent;
  color: #b0d284;
}

.nav-custom .active-link{
  color: #b0d284;
}

.uk-navbar-brand{
  font-size: 32px;
}

.uk-navbar-nav>li>a{
  text-shadow: none;
}

.uk-navbar-brand{
  text-shadow: none;
  font-family: 'Lobster', cursive;
}

/*Walnut*/
.walnut-main{
  background-color: #2e3141;
  background-image: linear-gradient(to top, rgba(204,153,102, 0.8), rgba(163,122,81, 0.8)), url("../img/walnuts_bg.jpg");
  height: 400px;
}

.walnut-title{
  font-size: 100px;
  margin-top: 180px;
}

.walnut-bgc{
  background-color: #cc9966;
}

.walnut-brr{
  border-radius: 5px;
}

.products{
  padding: 0px;
  margin: 0px; 
  font-size: 15px;
}

.products:hover{
  color: #b0d284 !important;
}

.products-a:hover{
  text-decoration: none;
}

footer{
  padding: 8px;
  border-radius: 4px;
}
/*Fonts*/
h1, h2, h4{
  text-transform: uppercase;
  font-family: 'Germania One', cursive;
}
.uk-navbar-nav>li>a{
  font-family: 'Bigshot One', cursive;
    
}

h3{
  font-family: 'Vesper Libre', serif;
  font-weight: 700;
}
p{
  font-family: 'Fenix', serif;
}

/*Lang*/
.lang{
  padding-top: 20px;
  font-weight: bold;
}

.lang a{
  color: #fff;
}

.lang .active-link{
  color: #b0d284;
}