.m-color{
	color: #19232d;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.header{
	height: 15em;
	background: url(../img/banner-1.jpg) 0 -200px no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.header .header__logo{
	color: #f2f2f2;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
	font-size: 48px;
	text-transform: uppercase;
	display: block;
}

.header .header__button{
	 display: block;
}

.fluid-bg{
	background: #19232d;
}

.gradient-bg{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #dee2e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dee2e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#dee2e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dee2e5',GradientType=0 ); /* IE6-9 */
}

.uk-navbar{
	background: #19232d;
}

.uk-navbar-nav>li>a{
	padding: 15px;
	height: 65px;
	color: #efefef;
	text-transform: uppercase;
}

.uk-navbar-nav>li.uk-active>a {
    background-color: #2f3842;
    color: #efefef;
}

.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
    background-color: #2f3842;
    color: #efefef;
    outline: 0;
    border-bottom: 2px solid #efefef;
}

.uk-dropdown-navbar {
    margin-top: 0;
    background: #19232D;
    color: #efefef;
}

.uk-nav-navbar>li>a {
    color: #efefef;
}

.uk-nav-navbar>li>a:focus, .uk-nav-navbar>li>a:hover {
    background: #2f3842;
    color: #efefef;
    outline: 0;
}

.reg-box{
	background: #19232d;
}

.chart {
  height: 300px;
  padding: 20px;
  background: #19232d;
}

.contact-box{
	background: none;
}

/* Footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoVk:hover {
	background-color: #4e729a;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
    background-color: #19232d;
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	border: 2px solid #efefef;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.ultra-bot-pad{
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.h400{
	height: 420px;
}

@media (min-width: 480px) and (max-width: 767px) {
	.h400{
	height: 620px;
}
}